<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net45" />
  <package id="Accord.MachineLearning" version="3.8.0" targetFramework="net45" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net45" />
  <package id="Accord.Statistics" version="3.8.0" targetFramework="net45" />
  <package id="Bunifu.UI.WinForms" version="5.3.0" targetFramework="net45" />
  <package id="Guna.UI2.WinForms" version="2.0.3.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="Syncfusion.Compression.Base" version="20.1.0.51" targetFramework="net45" />
  <package id="Syncfusion.Licensing" version="16.4.0.53" targetFramework="net45" />
  <package id="Syncfusion.OfficeChart.Base" version="20.1.0.51" targetFramework="net45" />
  <package id="Syncfusion.XlsIO.Base" version="16.4.0.53" targetFramework="net45" />
  <package id="System.Net.Http" version="2.0.20126.16343" targetFramework="net45" />
  <package id="System.Net.Http.Formatting.Extension" version="5.2.3.0" targetFramework="net45" />
</packages>